<!DOCTYPE html>
<html layout:decorate="~{modelo}">
<head>
<meta charset="UTF-8">
<script>
$(function() {
	$('#modalDelete').on('show.bs.modal', function (event) {
		var button = $(event.relatedTarget) // Button that triggered the modal
		var actionUrl = button.data('actionUrl') // Extract info from data-* attributes
		var itemId = button.data('itemId')
		// If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
		// Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
		var modal = $(this)
		modal.find('.modal-message').text('Confirma remoção do item ID ' + itemId + '?')
		modal.find('.modal-footer form').attr('action', actionUrl)
	})
})
</script>
</head>
<body>
	<div layout:fragment="conteudo">
		<h2>Agenda de contatos</h2>
		<div class="alert alert-danger" role="alert" th:if="${msgErro != null}" th:text="${msgErro}"></div>
		<div class="alert alert-success" role="alert" th:if="${msgSucesso != null}" th:text="${msgSucesso}"></div>
		
		<form method="get" th:action="@{/agenda/busca}">
			<div class="row">
				<div class="col-10">
					<input type="text" name="termoBusca" class="form-control" placeholder="Digite um termo a ser buscado">
				</div>
				<div class="col-2">
					<button type="submit" class="btn btn-primary btn-block">Buscar</button>
				</div>
			</div>
		</form>
		<div class="alert alert-primary" role="alert" th:if="${msgBusca !=null}" th:utext="${msgBusca}"></div>
		
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th>#</th>
					<th>ID</th>
					<th>Nome</th>
					<th>Data nascimento</th>
					<th>AÇÕES</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item, stat : ${itens}">
					<td th:text="${stat.count}"></td>
					<td th:text="${item.id}">1</td>
					<td th:text="${item.nome}">Nome nome nome</td>
					<td th:text="${item.dataNascimento}">99/99/9999</td>
					<td>
						<a href="#" class="btn btn-primary" th:href="@{/agenda/editar/{id}(id=${item.id})}">Editar</a>
						<a href="#modalDelete" data-toggle="modal" class="btn btn-danger" th:attr="data-action-url=@{/agenda/remover/{id}(id=${item.id})}, data-item-id=${item.id}">Apagar</a>
					</td>
				</tr>
			</tbody>
		</table>
		<a href="#" class="btn btn-success" th:href="@{/agenda/novo}"><i class="fa fa-plus-circle"></i> Incluir novo</a>
		<div id="modalDelete" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<header class="modal-header">
						<h5>Confirmar remoção</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
							<span aria-hidden="true">X</span>
						</button>
					</header>
					<div class="modal-body">
						<p class="modal-message">Confirma remoção?</p>
					</div>
					<footer class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
						<form style="display: inline-block" method="post">
							<button type="submit" class="btn btn-danger">Sim</button>
						</form>
					</footer>
				</div>
			</div>
		</div>
	</div>
</body>
</html>